.main_block__Enterprise {
  padding-top: 37px;
  width: 375px;
  height: 608px;
  background: #22262c;
  border-radius: 10px;
}
.main_block__Enterprise__type {
  height: 34px;
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  color: #ffffff;
}
.main_block__Enterprise__price {
  padding-top: 18px;
  font-weight: bold;
  font-size: 56px;
  line-height: 76px;
  height: 76px;
  font-weight: 700;
  color: #ffffff;
}
.main_block__Enterprise__includes {
  text-align: left;
  margin-left: 84px;
  padding-top: 66px;
  font-size: 15px;
  line-height: 40px;
  color: #ffffff;
}
.main_block__Enterprise__choose {
  margin-top: 95px;
  background: #22262c;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  width: 211px;
  height: 54px;
  padding: 15px;
  padding-right: 48px;
  padding-left: 54px;
  border: 1px solid #bc1e4a;
  border-radius: 4px;
  color: #ffffff;
}
